html
	head
		title Micky Morse Test
	body
		script(type='text/javascript' src='js/jquery.js')
		script(type='text/javascript' src='js/js-extension.js')
		script(type='text/javascript' src='js/MMData.js')
		script(type='text/javascript' src='js/MickyMorse.js')
		script(type='text/javascript' src='js/Transmitter.js')
		script(type='text/javascript' src='js/test.js')